.btn{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    border: 1px solid var(--main-blue, #1C14CA);
    background: var(--main-blue, #1C14CA);
}